body{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: #fe9a48;
    
}

.peque{
    width: 750px;
    margin: 10% auto;/* 
    position:absolute; */
    display: block;
    z-index: 9999;
    object-fit: contain;
}

/* .fondo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  display: block;
} */